.title-container {
  .flex();

  .imgText {
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: 5rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    object-fit: cover;
    width: 80vw;
    height: 80vh;
  }
  img:hover {
    opacity: 0.8;
  }

  a {
    .button(1% 5%; 1.8rem);
  }
}

.artists-container {
  width: 80%;
  display: flex;

  a {
    margin: auto;
    text-decoration: none;
    font-size: 2rem;
    color: @text-color;
    padding: 2%;
  }

  img {
    margin: auto;
    width: 800px;
    height: 500px;
    border-radius: 10px;
  }
}
.artist {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  .bio1 {
    width: 70%;
    margin: auto;
  }
}
.a2 {
  margin-top: -0px;
}

hr {
  margin: 3%;
  width: 90%;
}
